#splash {
  background-image: url('/assets/splash.jpg');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
}

#splash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(30, 30, 30, 0.8);
  opacity: 0.8;
  padding: 10px 20px;
  h1 {
    opacity: 1;
    color: white;
  }
  ul {
    list-style: none;
    color: white;
    font-weight: 700;
    li {
      display: inline;
      margin: 14px;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      transition: all 0.1s;
    }
    li:hover {
      border-bottom: 2px solid white;
      cursor: pointer;
    }
    #splash-sign-in {
      padding: 10px 20px;
      border: 2px solid white;
      transition: all 0.1s;
    }
    #splash-sign-in:hover {
      background-color: rgba(30, 30, 30, 0.9);
    }
  }
}

#splash-footer {
  background-color: #333;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 12px;
  background-color: rgba(30, 30, 30, 0.8);
  .splash-sign-up {
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    transition: all 0.1s;
    margin: 0px 10px;
  }
  .splash-sign-up:hover {
    background-color: rgba(30, 30, 30, 0.9);
    cursor: pointer;
  }
}

#splash-chat {
  display: flex;
  flex-direction: column;
  .splash-message {
    width: 600px;
    background-color: white;
    align-self: center;
    border-radius: 15px;
  }
}
